/* &__list 싸스처럼 명령어 안됨 */
.likelion {
  .likelion__list {
    list-style: none;

    &:hover {
      background-color: pink;
    }
  }
    .likelion__item {
      color: green;
    }
  
      .likelion__link {
        color: inherit;
      }
    
  }
}
