@import '/src/common/best-reset.css';
/* 모든 디바이스에 기본적으로 적용될 배경색 -skyblue */
/* 모든 디바이스에 글자크기를 유연하게 설정 */
/* clamp() 함수를 이용해서 글자 크기를 유연하게 설정 가능 */
body {
  background: skyblue;
  font-size: clamp(0.75rem, 2vw, 3rem);

  /* 뷰포트 크기에(600px) 따라 적용될 배경색 - pink */
  @media (min-width: 500px) and (max-width: 650px) {
    background: pink;
  }

  /* 뷰포트 크기에(1200px) 따라 적용될 배경색 - lime */
  @media (min-width: 800px) {
    background: lime;
  }
}

/* 가로 보기모드에서 적용될 배경색  */
/* @media (orientation: landscape) {
  body {
    background: orange;
  }
} */
